:root {
    --shadowEffect: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
    

}




html * {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    
  }

  .mainElements-Container {
    background-color: #000000;
    background-image: url('cd2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.topnav-container {
    
    overflow: hidden;
    text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
  
  }
  
     .topnav-container a {
          float: left;
          display: flex;
          color: #00FF66;
          text-align: center;
          padding: 10px 15px;
          text-decoration: none;
          font-size: 1rem;
      }
      
  .topnav-container a:hover {
    background-color: #1BFF80;
    color: black;
  }
  
  .topnav-container a.active {
    background-color: #1BFF80;
    color: black;
  
  }
  
    .topnav-container .icon {
    display: none;
  }

  .mid-Page-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    
  }

  section {
    margin: 2rem;
  }
  

    
  .text  {
    animation: fadeIn 2s ease-in-out;
      text-shadow: var(--shadowEffect);
      color: #00FF66
      
  }

    .styled-line1 {
        border: none;
        height: 3px;
        background-color: #00FF66;
        box-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
        width: 100%;
        max-width: 800px;
        
        
  }

    footer {
      text-align: center;
      padding: 3px; 
      color: #1BFF80;
      text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
  }

     /* Mobiili laitteet */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .topnav-container a {
    float: none;
    display: block;
    text-align: left;
  }

  .content-container {
    padding: 15px;
  }

  .styled-line1 {
    width: 60%;
    
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

